<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Restaurant Menu</title>
</head>

<body>
  <h1>Restaurant Menu</h1>
  {% for meal_type in meal_types %}
  <h3>{{ meal_type.1 }}</h3>
  {% for row in item_list%}
  {% if row.meal_type == meal_type.0 %}
  <div>
    {% if row.status == 1 %}
    <a href="{% url 'menu_item_detail' row.pk %}">
      <h4>{{ row.meal }}</h4>
    </a>
    <p>{{ row.desctiption }}</p>
    <p>{{ row.price }}</p>
    {% else %}
    <del>
      <h4>{{ row.meal }}</h4>
      <p>{{ row.desctiption }}</p>
    </del>
    {% endif %}
  </div>
  {% endif %}
  {% endfor %}
  {% endfor %}
</body>

</html>